@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: transparent;
    --fonte-titulo: font-family: "Inter", sans-serif;
    --fonte-paragrafo: font-family: "Poppins", sans-serif;

}

/* HEADER CODE */
.header {
    background-color: #613D94;
    width: 100%;
    height: 100px;
    position: relative;
    border-bottom: 2px solid rgb(0, 0, 0);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
}



.header .container {
    width: 80%;
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .navbar{
    margin-right: 170px;
}

.header .container .navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    /* margin-right: 170px; */
}

.header .container .navbar li {
    display: inline;
    padding: 20px;
}

.header .container .navbar li a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    width: 350px;
    font-size: 25px;
    color: whitesmoke;
    font-weight: bolder;
}

.imagem-logo{
    margin-top: 15px;
    filter: brightness(1.5);
    width: 160px;
  }

.contact-button {
    color: #fff;
    cursor: pointer;
    background-color: #181818;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    width: 155px;
    height: 40px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../assets/imagens/fundo-logon.png);
    background-repeat: no-repeat;   
}

:root {
    --tamanho-header: 80px;
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.login {
    height: var(--tamanho-login);
    background-size: cover;
}

.login .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-branco-login {
    width: 30%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    row-gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
}

.card-branco-login h2 {
    margin: 0;
    font-size: 30px;
}

.card-branco-recuperar-senha{
    width: 30%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    row-gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
}

.card-branco-recuperar-senha h2 {
    margin: 0;
    font-size: 30px;
}

#redefinir_senha {
    display: none;
}

.formulario {
    display: flex;
    height: 90%;
    width: 80%;
    justify-content: space-around;
    flex-direction: column;
}

.formulario span {
    font-size: 15px;
    font-weight: 800;
}

.formulario input {
    border: 2px solid #32b9cd;
    height: 30px;
    text-align: center;
}

#redefinir-senha-input {
    margin-top: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.botao {
    cursor: pointer;
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 2px;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    background-color: #613D94;
    width: 120px;
    height: 30px;
    align-self: center;
}

.botao-redefinir {
    margin-top: 30px;
}

.naoTenhoConta {
    margin-left: 5px;
    text-align: left;
    margin-bottom: 35px;
    margin-top: 15px;
}

.naoTenhoConta a {
    text-decoration: none;
    color: #613D94;
}

input::placeholder {
    padding: 10px; /* Espaçamento interno */
    margin: 10px; /* Espaçamento externo */
  }

